.form-container {
width: 100%;
font-family: 'Poppins', sans-serif;
}
.form-content {
    width: 40%;
    padding: 2%;
    background-color: #fff;
    margin: auto;
    border-radius: 5px,5px,5px ;

}
.form-control {
    background-color: #E9EDF4;
}