.iq-error h1 {
    font-weight: 700;
    font-size: 16rem;
    line-height: 14rem;
    margin-bottom: 0;
    padding-top: 45px;
    letter-spacing: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    margin: 0px;
    line-height: 1.5;
    color: #374948;
}